.PetContainer {
  border-radius: 30px;
  background: #f6b83d;
}

.background {
  background-image: url("../../img/login-mob-1x.jpg");
  background-size: cover;
  background-position: center;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (min-resolution: 2dppx) {
  .background {
    background-image: url("../../img/login-mob-2x.jpg");
  }
}
