.PetContainer {
  border-radius: 30px;
  background: #f6b83d;
}

.background {
  background-image: image-set(
    url("../../img/login-mob-1x.jpg") 1x,
    url("../../img/login-mob-2x.jpg") 2x
  );
  background-size: cover;
  background-position: center;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
