.petsItemContainer {
    border: 1px solid rgba(38, 38, 38, 0.1);
    border-radius: 20px;
    width: 295px;
    height: 132px;
    display: flex;
    flex-direction: row;
    padding: 12px;
}

.usersPetAvatarContainer {
    border-radius: 100px;
    /* padding: 10px; */
    width: 66px;
    height: 66px;
    object-fit: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 14px;
}

.usersPetAvatar {
    object-fit: cover;
    border-radius: 100px;
    width: 100%;
    height: 100%;
}

.petInfoContainer {
    width: 153px;
    height: 100px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-right: 4px;
}

.petTitle {
    font-family: 'Manrope', sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 129%;
    color: #2b2b2a;
}

.infoDetails {
    width: 153px;
    height: 74px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    flex-wrap: wrap;
}

.petDetails {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.petDetailsTitles {
    font-family: 'Manrope', sans-serif;
    font-weight: 500;
    font-size: 10px;
    line-height: 140%;
    letter-spacing: -0.02em;
    color: rgba(38, 38, 38, 0.5);
}

.petDetailsRes {
    font-family: 'Manrope', sans-serif;
    font-weight: 500;
    font-size: 12px;
    line-height: 117%;
    letter-spacing: -0.02em;
    color: #262626;
}

.deleteButtonContainer {
    border-radius: 30px;
    padding: 7px;
    width: 30px;
    height: 30px;
    background: #fff4df;
    display: flex;
    justify-content: center;
    align-items: center;
}

.deleteIcon {
    width: 16px;
    height: 16px;
    stroke-width: 1.2px;
    stroke: #f6b83d;
}
