.tabsContainer {
    width: 335px;
}

.favoriteBtnsContainer {
    margin-bottom: 20px;
    display: flex;
    gap: 10px;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.tab {
    border-radius: 30px;
    padding: 12px;
    width: 123px;
    height: 42px;
    background: #fff;
    font-weight: 500;
    font-size: 14px;
    line-height: 129%;
    letter-spacing: -0.03em;
    color: #262626;
}

.active {
    background: #f6b83d;
    color: #fff;
}
