.background {
  background-image: url("../../img/mainBGI.jpg");
  background-size: cover;
  background-position: center;
  height: 812px;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (min-resolution: 2dppx) {
  .background {
    background-image: url("../../img/mainBGI-2x.jpg");
  }
}

.mainTitle {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Manrope", sans-serif;
  font-weight: 700;
  font-size: 50px;
  line-height: 100%;
  letter-spacing: -0.04em;
  color: #fff;
  width: 190px;
  height: 50px;
}

.heartIconContainer {
  width: 44px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  vertical-align: bottom;
}

.heartIcon {
  color: #f6b83d;
  width: 36px;
  height: 32px;
}
