.favoritesListContainer {
    width: 335px;
}

.favoritesList {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.favoritesListItem {
    border-radius: 16px;
    padding: 24px;
    width: 335px;
    height: 454px;
    background: #fff;
}
