.auth {
    margin-top: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    width: 178px;
    height: 92px;
}

/* .login,
.register {
    width: 200px;
    height: 44px;

    display: inline-flex;
    align-items: center;
    justify-content: center;

    border-radius: 999px;
    font-size: 14px;
    font-weight: 600;
    line-height: 1;

    text-decoration: none;
    transition:
        transform 150ms ease,
        filter 150ms ease;
} */

.login:hover,
.login:focus,
.register:hover,
.register:focus {
    transform: translateY(-1px);
}

.login {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 30px;
    padding: 12px;
    width: 178px;
    height: 42px;
    font-weight: 700;
    font-size: 14px;
    line-height: 129%;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    color: #fff;
}

.register {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    padding: 12px;
    width: 178px;
    height: 42px;
    background: #fff4df;
    font-weight: 700;
    font-size: 14px;
    line-height: 129%;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    color: #f6b83d;
}
