.backdrop {
    position: absolute; /* ✅ пункт 4: было fixed */
    inset: 0;
    z-index: 999;
    background: rgba(0, 0, 0, 0.25);
}

.panel {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%; /* ✅ вместо 100dvh, чтобы брать высоту контейнера */
    background: #f6b83d;
    padding: 28px 20px 40px 20px;
    display: flex;
    flex-direction: column;
}

.closeBtn {
    margin-left: auto;
    background: transparent;
    border: 0;
    font-size: 26px;
    padding: 6px;
    cursor: pointer;
    margin-bottom: 176px;
    color: #fff;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 280px;
}
