.logOutBtn {
    border-radius: 30px;
    padding: 12px;
    width: 178px;
    height: 42px;
    background: #fff4df;
    font-family: 'Manrope', sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 129%;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    color: #f6b83d;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.modalOverlay {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(2px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modalContent {
    width: 335px;
    height: 270px;
    padding: 40px 28px;
    background: #fff;
    border-radius: 30px;
    border: none;
    outline: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.petIcon {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    margin-bottom: 20px;
    fill: #fff4df;
    width: 80px;
    height: 80px;
    background: #fff4df;
}

.catLogoIcon {
    width: 44px;
    height: 44px;
}

.modalTextBtns {
    display: flex;
    flex-direction: column;
    gap: 28px;
    align-items: center;
    justify-content: center;
}

.modalButtonsContainer {
    display: flex;
    flex-direction: row;
    gap: 8px;
}

.modalTitle {
    font-family: 'Manrope', sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: -0.03em;
    color: #262626;
}
.yesLogOutBtn {
    border-radius: 30px;
    padding: 12px 57px;
    width: 137px;
    height: 42px;
    background: #f6b83d;
    font-family: 'Manrope', sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 129%;
    letter-spacing: -0.03em;
    color: #fff;
}

.cancelLogOutBtn {
    border-radius: 30px;
    padding: 12px 44px;
    width: 134px;
    height: 42px;
    background: rgba(38, 38, 38, 0.05);
    font-family: 'Manrope', sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 129%;
    letter-spacing: -0.03em;
    color: #262626;
}

.closeModalBtnContainer {
    width: 24px;
    height: 24px;
    position: absolute;
    top: 20px;
    right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.closeIconBtn {
    width: 12px;
    height: 12px;
    stroke-width: 2px;
    stroke: #262626;
}
