.editProfileContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.profileBtn {
    border-radius: 30px;
    padding: 10px 14px;
    width: 80px;
    height: 38px;
    background: #f6b83d;
    font-family: 'Manrope', sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 129%;
    letter-spacing: -0.02em;
    color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 4px;
}

.icon {
    width: 18px;
    height: 18px;
}

.editBtn {
    border-radius: 30px;
    padding: 10px;
    width: 38px;
    height: 38px;
    background: #fff4df;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left: auto;
}

.editPencil {
    stroke-width: 1.5px;
    stroke: #f6b83d;
}

.modalTitle {
    font-family: 'Manrope', sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 100%;
    color: #2b2b2a;
    margin-bottom: 20px;
}

.userAvatarContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 12px;
}

.userAvatar {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    /* padding: 10px; */
    width: 80px;
    height: 80px;
}

.avatarIcon {
    width: 100%;
    height: 100%;
    fill: #f6b83d;
    stroke-width: 2px;
    stroke: #f6b83d;
}

.uploadContainer {
    border-radius: 30px;
    padding: 12px;
    width: 126px;
    height: 42px;
    background: #fff4df;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 8px;
    font-family: 'Manrope', sans-serif;
    font-weight: 500;
    font-size: 12px;
    line-height: 133%;
    letter-spacing: -0.02em;
    color: #262626;
}

.uploadIcon {
    width: 18px;
    height: 18px;
    stroke-width: 1.3px;
    stroke: #f6b83d;
}

.avatarLinkButtonContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.formStyleAvatar {
    border: 1px solid #f6b83d;
    border-radius: 30px;
    padding: 13px;
    width: 161px;
    height: 42px;
}

.formForm {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 21px;
}

.formStyle {
    border: 1px solid #f6b83d;
    border-radius: 30px;
    padding: 12px;
    width: 295px;
    height: 42px;
}

.profileEditBtn {
    border-radius: 30px;
    padding: 12px 108px;
    width: 295px;
    height: 42px;
    background: #f6b83d;
    font-family: 'Manrope', sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 129%;
    letter-spacing: -0.03em;
    color: #fff;
}

.userAvatarPhoto {
    width: 100%;
    height: 100%;
    border-radius: 100%;
    object-fit: cover;
}
