.nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 14px;
}

.link {
    border: 1px solid rgba(255, 255, 255, 0.15);
    border-radius: 30px;
    padding: 15px;
    width: 119px;
    height: 48px;
    font-weight: 500;
    font-size: 14px;
    line-height: 129%;
    letter-spacing: -0.03em;
    color: #fff;

    display: inline-flex;
    align-items: center;
    justify-content: center;

    background: transparent;

    text-decoration: none;

    transition:
        background-color 200ms ease,
        border-color 200ms ease;
}

.link:hover,
.link:focus {
    border: 1px solid rgba(255, 255, 255, 0.5);
}

.active {
    border: 1px solid rgba(255, 255, 255, 0.5);
}
